<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Bus Booking</title>
  <link rel="stylesheet" href="/static/css/index.css">
  
</head>
<body>
  <img src="/images/ai busses with road.jpg" alt="">
  <div class="container">
    <h1>WELCOME TO SHIFT BUS 🚍🚍 </h1>
    <h2>🚌 Bus Ticket Booking System</h2>
    <a href="{{ url_for('admin_login') }}" class="btn admin-btn">Admin Login</a>
    <a href="{{ url_for('register') }}">Register</a> 
    <br>
    <a href="{{ url_for('login') }}">User Login</a>
  </div>
</body>
</html>